header {
    width: 100%;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 14px 130px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
}

.logo-div {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.input-div {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.logo img {
    width: 65px;
    cursor: pointer;
}

.items {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.items img {
    width: 50px;
    background-color: #dce2e3ad;
    padding: 8px;
    border-radius: 50%;
}

.items p {
    color: #002F34;
    font-size: 1.6rem;
    font-weight: 700;
}

.location input {
    width: 33rem;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 4px;
    border: 1px solid rgb(198, 197, 197);
    outline: none;
}

.location input::placeholder {
    color: black;
}

.location input:focus {
    border: 1px solid rgb(0, 143, 210);
}

.search {
    width: 70rem;
    display: flex;
}

.search input {
    width: 65rem;
    padding: 10px 20px;
    font-size: 2rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgb(198, 197, 197);
    outline: none;
}

.search i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    background-color: #002F34;
    color: white;
    font-size: 2.5rem;
    padding: 10px 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search input:focus {
    border: 1px solid rgb(0, 143, 210);
}

.buttons {
    display: flex;
    gap: 2rem;
}

.login-btn {
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    border-bottom: 2px solid #002f34;
    color: #002f34;
    letter-spacing: normal;
    font-weight: 800;
}

.sell-btn {
    border-right: 5px solid rgb(11, 179, 201);
    border-top: 5px solid yellow;
    border-left: 5px solid rgb(0, 132, 255);
    border-bottom: 5px solid rgb(255, 145, 0);
    border-radius: 20px;
    padding: 7px 30px;
    background-color: transparent;
    font-size: 1.6rem;
    color: #002f34;
    letter-spacing: normal;
    font-weight: 700;
}
